@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body{
    background-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.88) ), url('img/coverbody1.jpg');
}

i.fa { 
    font-family:FontAwesome!important; 
}

#card{
    max-width: 1000px;
    height: 100px;   
}

.navbar-inverse {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

#navbar{
    background-color: #351f39 ;
}

/* Option for navbar color:#1e212d,#351f39,#214151 */

#hiuser{
    color: white;
    
}

.navbar-brand{
    margin-top: 15px;
}

.input-group{
    margin-top: 15px;
}

#navlogo{
    font-size: 3rem;
    color: white;
    font-family: 'Redressed', cursive;
}    

#navtext{
    color: white;
    font-size: 15px;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
}

#navlogo:hover{
    color:rgb(0, 172, 172);    
}


@media (max-width: 767px) {

    .navbar-toggle{
        margin-top: 20px;
        background-color:black;
    }

    .navbar-brand{
        margin-top: 15px;
    }

    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

#carouselfluid{
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
   
}

/* FOR PROFILE PAGE */

.contprofile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    color:white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.9) ), url("./img/logincover.jpg");
}

/*FOR Product page*/
#movietvproductimg{
    float:left;
}

#movietvproducttitle{
    float:right;
}
